<!DOCTYPE html>
<html>
    <head>
        <title>VenixDev Image Server</title>

        <meta property="og:title" content="VenixDev CDN">
        <meta property="og:description" content="No such file was found.">
        <meta property="og:type" content="article">
        <meta name="theme-color" content="#008B8B">
        <meta name="author" content="VenixDev#3371">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

            body, html {
                font-family: "Cabin", sans-serif;
                background-color: #181818;
                color: white;
                overflow: hidden;
                margin: 0 auto;
            }

            .centerArea {
                display: flex;
                align-items: center;
                min-height: 100vh;
            }

            .textArea {
                color: #fff;
                width: 100%;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="centerArea">
            <div class="textArea">
                <h1>VenixDev CDN</h1>
                <p>Welcome to my CDN 👋<br>Are you <a href="https://venixdev.xyz/">lost</a>?</p>
            </div>
        </div>
    </body>
</html>